In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
com = pd.read_csv("com.csv", low_memory=False,  encoding='latin-1')
# prescriptions = pd.read_csv("prescription.csv",lineterminator="\n", low_memory=False,  encoding="latin-1")
# lab = pd.read_csv("lab.csv", lineterminator="\n", low_memory=False, encoding="latin-1")
# patients = pd.read_csv("patient_all.csv", lineterminator="\n", low_memory=False, encoding="latin-1")

In [ ]:
com.head()

In [ ]:
com.info()

In [7]:
cols = ['date', 'heart failure','chest pain','chest discomfort','heart attack','heart disea','Heart Problem']

df_req = com[cols]
df_req.head(10)

,date,heart failure,chest pain,chest discomfort,heart attack,heart disea,Heart Problem
0,2020-12-17,0.0,0.0,0.0,0.0,0.0,0.0
1,2020-12-21,0.0,0.0,0.0,0.0,0.0,0.0
2,2020-12-21,0.0,0.0,0.0,0.0,0.0,0.0
3,2020-12-31,0.0,0.0,0.0,0.0,0.0,0.0
4,2021-02-04,0.0,0.0,0.0,0.0,0.0,0.0
5,2021-02-06,0.0,0.0,0.0,0.0,0.0,0.0
6,2021-04-05,0.0,0.0,0.0,0.0,0.0,0.0
7,2020-12-21,0.0,0.0,0.0,0.0,0.0,0.0
8,2020-12-31,0.0,0.0,0.0,0.0,0.0,0.0
9,2021-02-04,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
df_req

,date,heart failure,chest pain,chest discomfort,heart attack,heart disea,Heart Problem
0,2020-12-17,0.0,0.0,0.0,0.0,0.0,0.0
1,2020-12-21,0.0,0.0,0.0,0.0,0.0,0.0
2,2020-12-21,0.0,0.0,0.0,0.0,0.0,0.0
3,2020-12-31,0.0,0.0,0.0,0.0,0.0,0.0
4,2021-02-04,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
2190938,2021-04-22,NaN,NaN,NaN,NaN,NaN,NaN
2190939,2021-04-26,NaN,NaN,NaN,NaN,NaN,NaN
2190940,2021-03-25,NaN,NaN,NaN,NaN,NaN,NaN
2190941,2021-04-20,NaN,NaN,NaN,NaN,NaN,NaN
2190942,2021-04-27,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df_req['date'] = pd.to_datetime(df_req['date'], errors = 'coerce')

/Users/gopalsingh/Desktop/THB/env/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [21]:
df_req = df_req.dropna()

In [23]:
df_req['year'] = df_req['date'].dt.year

/Users/gopalsingh/Desktop/THB/env/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [31]:
df_req['year'].value_counts(ascending=False)

2019    192638
2020    179211
2018    163666
2017    133093
2016     94505
2015     55606
2021     23457
2014     18963
1970      9002
2013      6200
2009       678
2010       547
2011       384
2012       377
2008        84
2007        64
2006        61
2005        41
2002        25
2004        22
2003        21
2109        11
2108         9
2022         3
2029         2
2001         2
2091         1
1987         1
2038         1
2043         1
2202         1
2025         1
2063         1
1980         1
Name: year, dtype: int64